<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Job Application Form</title>
</head>
<body>

<h2>Job Application Form</h2>

<form action="/apply-for-job" method="post">
  <label for="username">Portal Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>
  
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br><br>
  
  <label for="phone">Phone:</label><br>
  <input type="text" id="phone" name="phone" required><br><br>
  

  <label for="description">Description :</label><br>
  <input type="text" id="description" name="description" required><br><br>

  <label for="resume">Resume Link:</label><br>
  <input type="text" id="resume" name="resume" required><br><br>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>
