<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Job info</title>
</head>
<body>
    <h2> Delete Job postings !!</h2>
    <form action="/delete-job" method="POST">
        <h3>NOTE : Job will be deleted by title</h3>
        <label for="jobTitle">Job Title:</label><br>
        <input type="text" id="jobTitle" name="jobTitle" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>