<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <ul>
    <li><a href="create-job">Create a Job posting </a></li>
    <br>
    <li><a href="update-job">Update a Job posting </a></li>
    <br>
    <li><a href="delete-job">Delete a Job posting </a></li>
    <br>
    <li><a href="suspend-account">suspend-account</a></li>
    </ul>
</body>
</html>