<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pratham's Job Portal </title>
</head>
<body>
    <h1> HI GEEK !!!</h1>
    <h1> Hope you would be Fine !!! </h1>
    <h1> Please select and action you want to perform !!! </h1>
    <nav>
        <a href="user-login"> LOGIN ( USER )</a>
        <br><br>
        <a href="user-signup" > SIGN UP ( USER ) </a>
        <hr>
        <a href="employeer-login"> LOGIN ( EMPLOYEER ) </a>
        <br><br>
        <a href="employeer-signup" > SIGN UP  ( EMPLOYEER ) </a>
    </nav>
</body>
</html>