<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div>

    <form action="/user-profile-search" , method="POST">
        <input type="text" id="profile" name="profile" placeholder="Search profiles...">
        <input type="submit" value="Search">
    </form>
    <h2>Job Search</h2>
     <li><a href="user-job-search">Job Search</a></li>

    <h2>Profile Update</h2>
    
    <!-- Update Profile Link -->
    <li><a href="user-update-profile">Update Profile</a></li>
    </div>
</body>
</html>
